h1 {
  font-family: "Fira Sans";
  font-size: calc(24px + 3vw);
  color: rgba(#fcf8e5, 0.9);
  position: absolute;
  top: 25%;
  margin-left: 50%;
  left: -400px;
  //background: rgba(#fff, 0.5);
  width: 800px;
  text-align: center;
  line-height: 1;
  text-shadow: 4px 4px 5px black;
}
